{%  extends 'third/base.html' %}
{%  load static %}
{%  block content %}
<div class="container" style="margin:20px auto;">
    {% for item in restaurants %}
    <div class="card border-secondary">
        <div class="card-body">
            <h5 class="card-titile">{{ item.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ item.address }}</h6>
            <p class="card-text">Review: {{ item.reviews_count }}, average:
                {% if item.average_point is None %} 0.00 {% endif %} {{  item.average_point|floatformat:2 }} </p>
            <a href="{% url 'restaurant-detail' restaurant_id=item.id %}" class="card-link">details</a>
            <a href="{% url 'restaurant-update' restaurant_id=item.id %}" class="card-link">Edit</a>
        </div>
    </div>
{% endfor %}

<div class="row">
    <div class="col-sm-12 text-center">
        <div class="pagination">
            <span class="step-links text-center" style="width:100%;">

                {% if restaurants.has_previous %}
                    <a href="?page=1">$</a>
                    <a href="?page={{ restaurants.previous_page_number }}">{{ restaurants.previous_page_number }}</a>
                {% endif %}
            <span class="current">
                {{ restaurants.number }}
            </span>
                {% if restaurants.has_next %}
                    <a href='?page={{ restaurants.next_page_number }}'>{{ restaurants.next_page_number }}</a>
                    ...
                    <a href="?page={{ restaurants.paginator.num_pages }}">{{ restaurants.paginator.num_pages }}</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
</div>
{%  endblock %}
